<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/login.css" />
    </head>

                  <style>
                  table { border-collapse: collapse; font-family: Calibri, sans-serif; }
  colgroup, tbody { border: solid medium; }
  td { border: solid thin; height: 1.4em; width: 1.4em; text-align: center; padding: 0; }
                  </style>
                  </head>
                  <body>

                  <h2>HTML Table</h2>
                  <table>
                  <caption>Sudoku of the day</caption>
                    <colgroup><col><col><col>
                    <colgroup><col><col><col>
                    <colgroup><col><col><col>

                      </table>
</html>
